@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button:focus,
  a:focus {
    outline: 1px dotted;
    outline: 5px auto #1ed3ea;
  }
}

@layer components {
  .input_basic {
    @apply appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-primary-400 focus:border-primary-400 sm:text-sm;
  }

  .btn_primary {
    @apply whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-primary hover:bg-primary-400;
  }
}
